* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

#home{
    padding: 5%;
    background-image: url("background.jpg");
    text-align: center;
	background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: center;;
}

.header {
	background-image:url("THENEIGHBORHOODlogo1.png");
	height:70px;
	width:110%;
	margin:-10px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
    height: 5%;
    color: #8b3436;
	background-color: #000000;
	text-align: center;
}

    background-position: top;


    
}
#about{
    text-align: center;
    margin-top: 10%;
}
#buttons_home{
    margin-top: 5%

}
#title{
    margin-top: 2.5%;
}


.home {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
}