* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

/* Put your styles BELOW this line */

selector {
	property:value;
}

h3 {
	color: blue;
	text-align: center;
}

