<!DOCTYPE html>
<html>
    <head>
        <title> THE NEIGHBORHOOD</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">

        <style>
        body{
            background:white;
        }
        </style>     
    </head>
    
    <body>
        <ul class="nav justify-content-center">
            <li class="nav-item">

              <a class="nav-link active" href="#">contect us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">more about us</a>

             
            </li>
            
        </ul>
        
    
        <div class="container" id="home" hight=20>
            <h1 class="display-4" id="title">  THE NEIGHBORHOOD</h1>

            <div class="button-box col-lg-12" id="buttons_home">
                <a href="{{url_for('signup')}}" class="btn btn-primary" role="button">Sign Up</a>

                <button type="button" class="btn btn-primary">Log in</button>

            </div>
        </div>

        
           
            
    </div>


     
     

 
     
        

       
        </div>

        <div class="container" id="about">
            <h1>About us!</h1>
            <p>THE NEIGHBORHOOD connects and helps the people of a neighborhood to get in contact and help each other.</p> 
        </div>


    
    <script src="{{ url_for('static', filename='jquery.js')}}"></script>  
    <script src="{{ url_for('static', filename='bootstrap.bundle.js')}}"></script>     
    </body>
</html>
