<!DOCTYPE html>
<html>
    <head>
        <title> THE NEIGHBORHOOD</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstarp.css') }}">

        <style>
        body{
            background-image: url("THENEIGHBORHOODlogo1.png")
        } 
        </style>     
    </head>
    
    <body>
        
    
        <div class="main-content">
            <h1>THE NEIGHBORHOOD</h1>
        <form action="{{url_for('signup')}}">
            <input class=button  type="submit" value="Sign Up">
        </form>
        <form action="{{'/log-in'}}">
            <input class=button type="submit" value="Log in">
        </form>
            <div class="aboutUs">
                <h3>About us!</h3>
                <p>THE NEIGHBORHOOD connects and helps the people of a neighborhood to get in contact and help each other.</p> 
            </div>
        </div>
        <div class="header">
     </div>
     <a href="test.html">
     <img src="THENEIGHBORHOODlogo1.png" style="float:left";>
     </a>    
     
    <script src="{{ url_for('static', filename='jquery.js')}}"></script>  
    <script src="{{ url_for('static', filename='bootstrap.bundle.js')}}"></script>     
    </body>
</html>
