<!DOCTYPE html>
<html>
<head>
	<<title> THE NEIGHBORHOOD</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h2>NOT SIGNED UP YET?!</h2>
	<form action method="post">
		<input type="text" username="username" placeholder="username">
		<br>
		<input type="text" password="password" placeholder="password">
		<br>
		<input type="text" birth="date of birth" placeholder="date of birth">
		<br>
		i am a
		<input type="radio" gender="gender" value="male">male
		<input type="radio" gender="gender" value="female">female
		<br>
		i am a
		<input type="radio" account_type="account_type" value="administrator">administrator
		<input type="radio" account_type="account_type" value="citizen">citizen
		<br>
		<input type="submit" value="submit">
	</form>	
